/* SECTION FRONT */

.motivational {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}

/* IMG */

.big-card-img {
  align-self: center;
  justify-self: center;
}

.big-card-img img {
  width: 100%;
}

/* SECTION SOCIAL LINKS */

.socials {
  padding: 2rem 0;
}

.socials-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.social-item {
  font-size: 1.6rem;
  color: var(--oc-gray-0);
}

.social-link:link,
.social-link:visited {
  display: inline-block;
  height: 4.4rem;
  width: 4.4rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--oc-indigo-8);
  box-shadow: 0 0.2rem 0.4rem var(--oc-indigo-9);
  transition: all 0.2s;
}

.social-link:hover,
.social-link:active {
  background-color: var(--oc-indigo-9);
  box-shadow: 0 0.4rem 0.8rem var(--oc-indigo-9);
}

.social-logo {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--oc-gray-0);
}
