@import "./open-color.css";

/* GUIDELINES
 *
 * SPACING & FONT SIZE:
 * 0.1  2px
 * 0.2  4px
 * 0.4  8px
 * 0.6 12px
 * 0.8 16px
 * 1.0 20px
 * 1.2 24px
 * 1.4 28px
 * 1.6 32px
 * 2.0 40px
 * 2.4 48px
 * 3.2 64px
 * 4.0 80px
 * 4.8 96px
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: var(--oc-gray-7);
  background-color: var(--oc-gray-1);
}

.cta-container {
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.cta-link:link,
.cta-link:visited {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--oc-gray-0);
  border-radius: 10rem;
  background-color: var(--oc-indigo-8);
  box-shadow: 0 0.2rem 0.4rem var(--oc-indigo-9);
  transition: all 0.2s;
}

.cta-link:hover,
.cta-link:active {
  background-color: var(--oc-indigo-9);
  box-shadow: 0 0.4rem 0.8rem var(--oc-indigo-9);
}

.cta-link.cta--med {
  padding: 0.6rem 1rem;
  padding-left: 1.6rem;
  font-size: 1rem;
}

.cta-link.cta--big {
  padding: 0.8rem 1.2rem;
  padding-left: 1.6rem;
  font-size: 1.6rem;
}

.cta-link.cta--med .cta-icon {
  height: 1.8rem;
  width: 1.8rem;
  color: var(--oc-gray-0);
}

.cta-link.cta--big .cta-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--oc-gray-0);
}

.no-style-link:link,
.no-style-link:visited,
.no-style-link:hover,
.no-style-link:active {
  text-decoration: none;
  color: inherit;
  border-bottom: none;
  transition: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inconsolata", monospace;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--oc-green-9);
  margin-bottom: 1rem;
}

h3 {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--oc-indigo-8);
}

.h-white {
  color: var(--oc-gray-0);
}

.t--block-end::after {
  content: "\2588";
}

.t--white {
  color: var(--oc-gray-0);
}

.t--green-dark {
  color: var(--oc-green-9);
}

.t--purple-dark {
  color: var(--oc-indigo-8);
}

.b--green-dark {
  background-color: var(--oc-green-9);
}

.b--purple-dark {
  background-color: var(--oc-indigo-8);
}

.section {
  padding: 4rem 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.container.big-card {
  padding: 1.6rem;
  background-color: var(--oc-gray-7);
  box-shadow: 0 0.4rem 0.8rem var(--oc-gray-9);
  border-radius: 0.8rem;
}

.container.big-card.card-green {
  background-color: var(--oc-green-8);
  box-shadow: 0 0.4rem 0.8rem var(--oc-green-9);
}

.big-card-txt {
  padding: 1.2rem;
  font-size: 0.8rem;
  line-height: 2;
  letter-spacing: 0.05rem;
  color: var(--oc-gray-0);
}

.grid {
  display: grid;
  gap: 4rem;
}

.grid.g--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid.g--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid.g--4-cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

.g--span-2-wide {
  grid-column: span 2;
}

.figure-item {
  padding: 1.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.8rem 1.6rem var(--oc-green-1);
}

.figure-icon-container {
  display: block;
  text-align: center;
}

.figure-icon {
  height: 1.6rem;
  width: 1.6rem;
  padding: 0.8rem;
  color: var(--oc-green-9);
  background-color: var(--oc-indigo-1);
  border-radius: 50%;
}

.figure-text {
  font-size: 0.8rem;
  line-height: 1.6;
}

/* PAGE HEADER */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
}

.header-title {
  display: block;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  font-size: 2rem;
  color: var(--oc-gray-7);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  font-weight: 600;
}

.nav-item a:link,
.nav-item a:visited {
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid transparent;
  text-decoration: none;
  color: var(--oc-green-9);
  transition: all 0.2s;
}

.nav-item a:hover,
.nav-item a:active {
  border-bottom: 0.1rem solid var(--oc-green-9);
}

/* SECTION FRONT */

.section-front {
  background-color: var(--oc-green-1);
}

.front-presentation {
  grid-column: span 2;
}

.front-title {
  margin-bottom: 3.2rem;
  font-family: "Inconsolata", monospace;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

.f-title-block {
  padding: 0.6rem;
  letter-spacing: 0.1rem;
}

.motivational {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}

/* SECTION SOCIAL LINKS */

.socials {
  padding: 2rem 0;
}

.socials-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.social-item {
  font-size: 1.6rem;
  color: var(--oc-gray-0);
}

.social-link:link,
.social-link:visited {
  display: inline-block;
  height: 4.4rem;
  width: 4.4rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--oc-indigo-8);
  box-shadow: 0 0.2rem 0.4rem var(--oc-indigo-9);
  transition: all 0.2s;
}

.social-link:hover,
.social-link:active {
  background-color: var(--oc-indigo-9);
  box-shadow: 0 0.4rem 0.8rem var(--oc-indigo-9);
}

.social-logo {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--oc-gray-0);
}

/* PAGE FOOTER */

.page-footer {
  border-top: 0.1rem solid var(--oc-gray-2);
}

.copyright {
  text-align: center;
  line-height: 1.2;
  font-size: 0.6rem;
}
